
terrafom-course/terraform.tfstate
terrafom-course/.terraform.lock.hcl
terrafom-course/terraform.tfstate.backup
.env
terrafom-course/.terraform/environment
terrafom-course/.terraform/terraform.tfstate.env
terra/.terraform/providers/registry.terraform.io/hashicorp/aws/4.67.0/linux_amd64/terraform-provider-aws_v4.67.0_x5
.gitignore
terra/.terraform/terraform.tfstate
terra/.terraform/environment
terra/.terraform.lock.hcl
